@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Neutral */
  --color-neutral-900: rgb(10, 10, 10);
  --color-neutral-700: rgb(23, 23, 25);
  --color-neutral-600: rgb(32, 32, 34);
  --color-neutral-500: rgb(46, 46, 46);
  --color-neutral-400: rgb(61, 61, 61);
  --color-neutral-300: rgb(69, 69, 71);
  --color-neutral-200: rgb(157, 157, 157);
  --color-neutral-100: rgb(198, 198, 198);
  --color-neutral-50: rgb(255, 255, 255);

  /* Orange */
  --color-green-500: rgb(66, 235, 5);

  /* Lime */
  --color-lime-500: rgb(206, 247, 57);
  --color-lime-800: rgb(40, 51, 0);

  /* Indigo */
  --color-red-500: rgb(255, 65, 65);

  --font-jetbrains-mono: "JetBrains Mono";

  /* TEXT PRESETS */
  --text-preset-1: 2.5rem; /* 40px */
  --text-preset-1--line-height: 1;
  --text-preset-1--letter-spacing: -0.5px;
  --text-preset-1--weight: 700;

  --text-preset-1-tablet: 2rem; /* 32px */
  --text-preset-1-tablet--line-height: 1;
  --text-preset-1-tablet--letter-spacing: -0.5px;
  --text-preset-1-tablet--weight: 700;

  --text-preset-2: 1.25rem; /* 20px */
  --text-preset-2--line-height: 1.2;
  --text-preset-2--letter-spacing: -0.5px;
  --text-preset-2--weight: 400;

  --text-preset-2-bold: 1.25rem; /* 20px */
  --text-preset-2-bold--line-height: 1.4;
  --text-preset-2-bold--letter-spacing: -0.5px;
  --text-preset-2-bold--weight: 700;

  --text-preset-3: 1rem; /* 16px */
  --text-preset-3--line-height: 1.2;
  --text-preset-3--letter-spacing: 1px;
  --text-preset-3--weight: 400;

  --text-preset-3-medium: 1rem; /* 16px */
  --text-preset-3-medium--line-height: 1.2;
  --text-preset-3-medium--letter-spacing: 1px;
  --text-preset-3-medium--weight: 500;

  --text-preset-3-bold: 1rem; /* 16px */
  --text-preset-3-bold--line-height: 1.1;
  --text-preset-3-bold--letter-spacing: 1px;
  --text-preset-3-bold--weight: 700;

  --text-preset-4: 0.875rem; /* 14px */
  --text-preset-4--line-height: 1.2;
  --text-preset-4--letter-spacing: 1px;
  --text-preset-4--weight: 400;

  --text-preset-5: 0.75rem; /* 12px */
  --text-preset-5--line-height: 1.2;
  --text-preset-5--letter-spacing: 0.5px;
  --text-preset-5--weight: 400;

  --text-preset-5-medium: 0.75rem; /* 12px */
  --text-preset-5-medium--line-height: 1.3;
  --text-preset-5-medium--letter-spacing: 0.5px;
  --text-preset-5-medium--weight: 500;

  --text-preset-6: 0.625rem; /* 10px */
  --text-preset-6--line-height: 1;
  --text-preset-6--letter-spacing: 0px;
  --text-preset-6--weight: 400;

  /* SPACING */
  --spacing-0: 0rem;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* RADIUS */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

body {
  color: var(--color-neutral-50);
  font-size: 16px;
  font-family: var(--font-jetbrains-mono);
  background-color: var(--color-neutral-900);
}

.nav-link-underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-lime-500);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover .nav-link-underline,
.nav-link.router-link-active .nav-link-underline,
.nav-link.router-link-exact-active .nav-link-underline {
  transform: scaleX(1);
}
